/*
* {
    border: black;
    border-width: 1px;
    border-style: solid;
}
*/

@import "commons/title.css";
@import "commons/menu.css";
@import "commons/content.css";
@import "commons/footer.css";

body {
    font-family: "Verdana", "Arial";
    font-size: 1.1em;
    line-height: 1.6;
    background-color: #d8dee6; /* light-gray */
}

h1 {
    font-family: "Georgia", "Times New Roman";
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #7C8D99; /* gray */
}

img {
    padding: 10px;
    width:100%;
    max-width: 360px;
}

.btn {
    padding: 0px 5px 0px 5px;
    background-color: #D9C6F5; /* pink */
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn:hover {
    background-color: #E2F5C6; /* green */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.avatar img{
    width: 50px;
}

#main {
    background-color: white;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 80%;
    grid-template-rows: 120px 110px auto 100px;
    grid-template-areas:
        "title"
        "menu"
        "content"
        "footer";
    grid-gap: 0px;
}

@media(max-width:900px) {
    #main {
        padding: 5px;
    }
}

@media(min-width:900px) {
    #main {
        width: 80%;
        margin: auto;
        padding: 10px;
    }
}