/*
* {
    border: black;
    border-width: 1px;
    border-style: solid;
}
*/

@import "commons/title.css";
@import "commons/menu.css";
@import "commons/content.css";
@import "commons/footer.css";

body {
    font-family: "Verdana", "Arial";
    font-size: 1.1em;
    line-height: 1.6;
    background-color: #d8dee6; /* light-gray */
}

h1 {
    font-family: "Georgia", "Times New Roman";
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #7C8D99; /* gray */
}

img {
    padding: 10px;
}

#main {
    background-color: white;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 80%;
    grid-template-rows: 120px 110px auto 100px;
    grid-template-areas:
        "title"
        "menu"
        "content"
        "footer";
    grid-gap: 0px;
}

@media(min-width:900px) {
    #main {
        width: 80%;
        margin: auto;
    }
}