#main_content {
    background-color: white;

}

@media(max-width:900px) {
    #main_content {
        padding: 5px;
    }
}

@media(min-width:900px) {
    #main_content {
        padding: 10px;
    }
}