#main_content {
    background-color: white;

}

.back_button {
    padding: 0px 5px 0px 5px;
    background-color: #D9C6F5; /* pink */
    color: black;
}

.back_button:hover {
    background-color: #E2F5C6; /* green */
}

@media(max-width:900px) {
    #main_content {
        padding: 5px;
    }
}

@media(min-width:900px) {
    #main_content {
        padding: 10px;
    }
}